/* Root properties */
/* ---------------------------------------------------------- */
* {

    /* spacing */
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* typography */
    font-size: 0.92rem;
    font-family: "Inter", sans-serif;

}

p {

    /* typography */
    font-size: 0.8rem;
    font-weight: 480;
}

nav {

    z-index: 1;
}

:root {

    --primary: white;
    --light: #cccccc;

    --bg: #e3e6e6;

    --dark: #131921;
    --secondary-dark: #232f3e;

    --search: #fab55c;
    --search-highlighted: #f3a847;

    --grey: #e6e6e6;
    --grey-highlighted: #d4d4d4;
}

/* ---------------------------------------------------------- */



/* Hover Border Classes */
/* ---------------------------------------------------------- */
.hoverborder {

    /* spacing */
    padding: 5px;

    /* colors */
    color: var(--primary);

    /* appearance */
    cursor: pointer;
    border: 1px solid transparent;
}

.hoverborder:hover {

    /* appearance */
    border: 1px solid var(--primary);
}

/* ---------------------------------------------------------- */



/* Main Navbar */
/* ---------------------------------------------------------- */
.main-navbar {

    /* layout */
    display: flex;
    align-items: center;

    /* sizing */
    height: 60px;
    min-width: 100%;

    /* spacing */
    padding: 5px;
    gap: 1.25rem;

    /* colors */
    background-color: var(--dark);
}

.logo-anchor {

    /* sizing */
    width: 100px;

    /* spacing */
    margin: 1px;
}

#logoimg {

    height: 50px;
    width: 100%;
}

.locationBox-span {

    /* layout */
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;

}

#deliverto-para {

    /* colors */
    color: var(--light);

    /* layout */
    grid-column: 2/3;

}

.searchContainer-div {

    /* layout */
    display: flex;
    flex: 1;

    /* spacing */
    gap: 0;

    /* sizing */
}

.categorySelector-select {

    /* sizing */
    height: 40px;
    width: fit-content;

    /* spacing */
    padding: 4px;

    /* appearance */
    border: none;

    /* colors */
    color: rgb(92, 92, 92);
    background-color: var(--grey);

    /* appearance */
    border-radius: 5px 0px 0px 5px;

}

.categorySelector-select:hover {

    /* colors */
    color: black;
    background-color: var(--grey-highlighted);

    /* appearance */
    cursor: pointer;

}

.searchbar-input {

    /* layout */
    flex: 1;

    /* sizing */
    height: 40px;

    /* spacing */
    margin: 0;
    padding: 8px 12px;

    /* typography */

    /* appearance */
    border: none;
}

.searchButton-button {

    /* sizing */
    height: 40px;
    width: 50px;

    /* spacing */
    margin: 0;
    border: none;

    /* colors */
    color: var(--dark);
    background-color: var(--search);

    /* appearance */
    border-radius: 0px 5px 5px 0px;
}

.searchButton-button:hover {

    /* colors */
    background-color: var(--search-highlighted);

    /* appearance */
    cursor: pointer;
}

.languageSelector-select {

    /* sizing */
    width: 40px;

    /* colors */
    color: var(--primary);
    background-color: var(--dark);
}

.languageSelector-select:hover {

    /* appearance */
    cursor: pointer;
}

.flag-image {

    /* sizing */
    width: 22px;
}

.cart-div {

    /* layout */
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
}

#cartnum-h4 {

    /* layout */
    grid-column: 1/3;
    grid-row: 1;

    /* spacing */
    padding-left: 7px;

    /* colors */
    color: #e27c00;
}

#carticon-icon {

    /* layout */
    grid-column: 1;
    grid-row: 2;

    /* typography */
    font-size: 18px;
}

#cartname-h4 {

    /* layout */
    grid-column: 2;
    grid-row: 2;
}

/* ---------------------------------------------------------- */



/* Secondary Navbar */
.secondaryNavbar-navbar {

    /* layout */
    display: flex;
    justify-content: start;
    align-items: center;

    /* sizing */
    height: 39px;
    width: 100%;

    /* spacing */
    gap: 20px;

    /* colors */
    background-color: var(--secondary-dark);
}

.secondaryAnchors-anchors {

    /* typography */
    font-weight: 480;
    text-decoration: none;

}

.menubox-span {

    /* layout */
    display: flex;
    gap: 2px;

}

#menubarsicon-icon {

    /* typography */
    font-size: 20px;
}

#menuall-h4 {

    /* typography */
    font-size: 1.1rem;
}

/* ---------------------------------------------------------- */



/* Main Body */
/* ---------------------------------------------------------- */


main {

    /* layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    /* sizing */
    min-height: 100vh;
    width: 100%;

    /* colors */
    background-color: var(--bg);

}

/* Hero Section */

.hero-div {

    position: relative;

    /* layout */
    display: flex;
    align-items: flex-end;

    /* sizing */
    height: 600px;
    width: 98%;

    /* spacing */
    margin: 0;

    background-image: url(media/Home-image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-div::after {

    content: "";
    position: absolute;
    inset: 0;

    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, var(--bg) 100%) url(media/Home-image.jpg);

}

/* Product Section */

.productContainer-div {

    /* layout */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    /* sizing */
    width: 100%;

    /* spacing */
    gap: 0.6em;

}

.productBox {

    /* positioning */
    z-index: 1;

    /* layout */
    display: flex;
    flex-direction: column;

    /* sizing */
    height: 420px;
    width: 350px;

    /* spacing */
    margin-top: -24rem;
    margin-left: 1rem;
    padding: 1.1rem;
    gap: 1rem;

    /* colors */
    background-color: var(--primary);

    /* appearance */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.productBox h2 {

    /* typography */
    font-size: 1.4rem;
    font-weight: 700;

    /* colors */
    color: var(--dark);
}

.oneImageProduct-img {

    /* sizing */
    height: 100%;
    width: 100%;

    object-fit: cover;
}


.productBox4ImageBox-div {

    /* sizing */
    height: 100%;
    width: 100%;

    /* layout */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    /* spacing */
    gap: 1rem;

}

.productBox4Image-img {

     /* sizing */
    height: 100%;
    width: 100%;
    
    /* spacing */

    object-fit: contain;
    transform: scale(1.2);

    border: 1rem solid white;

    /* overflow */
    overflow: hidden;
}

.productBox a {

    /* typography */
    text-decoration: none;
}


/* ---------------------------------------------------------- */