* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}



:root {

    --primary: white;

    --dark: #131921;
    --secondary-dark: #232f3e;

    --search: #fab55c;
    --search-highlighted: #f3a847;

    --grey: #e6e6e6;
    --grey-highlighted: #d4d4d4;
}

/* Hover Border Classes */

.hoverborder {

    /* sizing */

    /* spacing */
    padding: 5px;

    /* appearance */
    cursor: pointer;
    border: 1px solid transparent;
}

.hoverborder:hover {

    /* appearance */
    border: 1px solid var(--primary);
}

/* ---------------------------------------------------------- */



/* Main Navbar */

.navbar {

    /* layout */
    display: flex;
    align-items: center;

    /* sizing */
    height: 60px;
    min-width: 100%;

    /* spacing */
    padding: 5px;
    gap: 20px;

    /* colors */
    background-color: var(--dark);
}

.logo {

    /* sizing */
    width: 100px;

    /* spacing */
    margin: 1px;
}

#logoimg {

    width: 100%;
    height: auto;
}

#locationbox {

    /* colors */
    color: var(--primary);
}

#deliverto {
    grid-column: 1/3;
}

.searchContainer {

    /* layout */
    display: flex;
    flex: 1;

    /* spacing */
    gap: 0;

    /* sizing */
    height: 30px;
}

.categorySelector {

    /* sizing */
    height: 40px;
    width: 50px;

    /* spacing */
    border: none;

    /* colors */
    background-color: var(--grey);

    /* appearance */
    border-radius: 5px 0px 0px 5px;

}

.categorySelector:hover {

    /* colors */
    background-color: var(--grey-highlighted);

}

.searchbar {

    /* sizing */
    height: 40px;

    /* spacing */
    margin: 0;
    padding: 8px 12px;

    /* layout */
    flex: 1;

    /* appearance */
    border: none;
}

.searchButton {

    /* sizing */
    height: 40px;
    width: 50px;

    /* spacing */
    margin: 0;
    border: none;

    /* colors */
    background-color: var(--search);

    /* appearance */
    border-radius: 0px 5px 5px 0px;
}

.searchButton:hover {

    /* colors */
    background-color: var(--search-highlighted);
}

.languageSelector {

    /* sizing */
    width: 50px;
}

.flag {

    /* sizing */
    width: 60px;
}

/* ---------------------------------------------------------- */



/* Secondary Navbar */
.secondaryNavbar {

    /* layout */
    display: flex;
    justify-content: start;
    align-items: center;

    /* sizing */
    height: 39px;
    width: 100%;

    /* spacing */
    gap: 20px;

    /* colors */
    background-color: var(--secondary-dark);
}

.secondaryAnchors {

    /* colors */
    color: var(--primary);

    text-decoration: none;
}

/* ---------------------------------------------------------- */



 /* Main Body */

 #homeimg {

    /* sizing */
    width: 100%;
 }