* {

    /* spacing */
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* typography */
    font-size: 0.95rem;
    font-family: Arial, Helvetica, sans-serif;
}



:root {

    --primary: white;

    --dark: #131921;
    --secondary-dark: #232f3e;

    --search: #fab55c;
    --search-highlighted: #f3a847;

    --grey: #e6e6e6;
    --grey-highlighted: #d4d4d4;
}

/* Hover Border Classes */

.hoverborder {

    /* sizing */

    /* spacing */
    padding: 5px;

    /* colors */
    color: var(--primary);

    /* appearance */
    cursor: pointer;
    border: 1px solid transparent;
}

.hoverborder:hover {

    /* appearance */
    border: 1px solid var(--primary);
}

/* ---------------------------------------------------------- */



/* Main Navbar */

.navbar {

    /* layout */
    display: flex;
    align-items: center;

    /* sizing */
    height: 60px;
    min-width: 100%;

    /* spacing */
    padding: 5px;
    gap: 20px;

    /* colors */
    background-color: var(--dark);
}

.logo {

    /* sizing */
    width: 100px;

    /* spacing */
    margin: 1px;
}

#logoimg {

    width: 100%;
    height: auto;
}

#deliverto {
    grid-column: 1/3;
}

.searchContainer {

    /* layout */
    display: flex;
    flex: 1;

    /* spacing */
    gap: 0;

    /* sizing */
}

.categorySelector {

    /* sizing */
    height: 40px;
    width: fit-content;

    /* spacing */
    padding: 4px;
    border: none;

    /* colors */
    color: rgb(92, 92, 92);
    background-color: var(--grey);

    /* appearance */
    border-radius: 5px 0px 0px 5px;

}

.categorySelector:hover {

    /* colors */
    color: black;
    background-color: var(--grey-highlighted);

    /* appearance */
    cursor: pointer;

}

.searchbar {

    /* layout */
    flex: 1;

    /* sizing */
    height: 40px;

    /* spacing */
    margin: 0;
    padding: 8px 12px;

    /* typography */

    /* appearance */
    border: none;
}

.searchButton {

    /* sizing */
    height: 40px;
    width: 50px;

    /* spacing */
    margin: 0;
    border: none;

    /* colors */
    background-color: var(--search);

    /* appearance */
    border-radius: 0px 5px 5px 0px;
}

.searchButton:hover {

    /* colors */
    background-color: var(--search-highlighted);

    /* appearance */
    cursor: pointer;
}

.languageSelector {

    /* sizing */
    width: 40px;

    /* colors */
    color: var(--primary);
    background-color: var(--dark);
}

.languageSelector:hover {

    /* appearance */
    cursor: pointer;
}

.flag {

    /* sizing */
    width: 22px;
}

.accounts {

    /* sizing */
    height: 100%;

}

.cart {

    /* layout */
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
}

#cartnum {

    /* layout */
    grid-column: 1/3;
    grid-row: 1;

    /* spacing */
    padding-left: 7px;

    /* colors */
    color: #e27c00;
}

#carticon {

    /* layout */
    grid-column: 1;
    grid-row: 2;

    /* typography */
    font-size: 18px;
}

#cartname {

    /* layout */
    grid-column: 2;
    grid-row: 2;
}

/* ---------------------------------------------------------- */



/* Secondary Navbar */
.secondaryNavbar {

    /* layout */
    display: flex;
    justify-content: start;
    align-items: center;

    /* sizing */
    height: 39px;
    width: 100%;

    /* spacing */
    gap: 20px;

    /* colors */
    background-color: var(--secondary-dark);
}

.secondaryAnchors {

    text-decoration: none;
}

.menubarsicon {

    /* typography */
    font-size: 30px;
}

.all {

    /* typography */
    font-weight: bolder;
}

/* ---------------------------------------------------------- */



 /* Main Body */

 #homeimg {

    /* sizing */
    width: 100%;
 }